<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accueil</title>
  
</head>
<body>
  <div class="container">
    <!-- Partie gauche -->
    <div class="left-section">
      <div id="photo-slider" class="photo-slider">
        <div class="photo">
          <img src="assets/GED1.jpeg" alt="Photo 1">
          <p class="slogan">"Organisez, Accédez, Simplifiez : Votre GED à portée de main !"</p>
        </div>
        <div class="photo">
          <img src="assets/GED2.jpeg" alt="Photo 2">
          <p class="slogan">"Dites adieu au papier, bonjour à la clarté !"</p>
        </div>
        <div class="photo">
          <img src="assets/GED3.jpeg" alt="Photo 3">
          <p class="slogan">"Centralisez, sécurisez, optimisez : La GED réinventée."</p>
        </div>
      </div>
    </div>

  
   
    
  </div>

  <script src="script.js"></script>
</body>
</html>
